@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #121212;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme {
	--font-sn: "SN Pro";
}
/* ===== Rectangle Thumb ===== */

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 8px;
	height: 23px;
	background: #e5e7eb;
	border-radius: 20px;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 4px;
	height: 23px;
	background: #e5e7eb;
	border-radius: 20px;
	cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
	height: 8px;
	border-radius: 8px;
}

.slider::-moz-range-track {
	height: 8px;
	border-radius: 8px;
}
